@import "DefaultTheme/Variables.less";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Index Area
-------------------------- */
.video-index-select-con {
  background-color: @--index-app-bg;
}

.video-index-select-inner-app-desc {
  color: @--index-app-desc-color;
}

/* Controls Style
-------------------------- */
.control-container {
  // background-color: #000000;
  color: @--control-area-text;
}

.control-container:after {
  background-color: @--control-area-inner-bg;
}


/* Progress Style
-------------------------- */
.video-progress-bar-outer {
  background-color: @--video-progress-bar-outer-bg;

  .video-progress-bar-inner {
    background-color: @--video-progress-bar-inner-bg;
  }

  .video-progress-bar-inner-draggable-area {
    background-color: @--video-progress-draggable-circle-pointer-bg;
  }
}

/* SelectItem Style
-------------------------- */
.select-item-con {
  background-color: @--select-item-con-bg;
}

.select-item-text {
  color: @--select-item-con-text;
}

/* Menu Aside Style
-------------------------- */
.menu-aside-container {
  background-color: @--settings-aside-item-bg;
}


/* Setting Aside Style
-------------------------- */
.settings-aside {
  background-color: @--settings-aside-item-bg;
}

.aside-bar-item {
  color: @--settings-aside-text;

  &.active {
    background-color: @--settings-aside-item-active;
  }
}

.setting-main {
  background-color: @--settings-main-content;

  .setting-main-check-update-button {
    background-color: @--settings-main-app-button-bg;
    color: @--settings-aside-text
  }

  .setting-main-app-name {
    color: @--settings-main-app-logo;
  }

  .setting-main-version {
    color: @--settings-main-app-version;
  }

  .base-info-item-con {
    .base-info-item-title {
      color: @--settings-main-app-base-info-color;
    }

    .base-info-item-desc {
      color: @--settings-main-app-version;
    }
  }

  .function-setting-title {
    color: @--settings-main-app-base-info-color
  }

  .function-setting-form-item-title {
    color: @--settings-main-app-base-info-color;
  }

  .function-setting-form-item-desc {
    color: @--settings-main-app-version;
  }

  .el-input__wrapper {
    background-color: #181e23;
  }
}

.media-setting-con {
  .media-setting-title {
    color: @--settings-aside-text;
  }
}

.keys-con {
  border: 1px solid @--settings-main-app-border;
  background-color: @--settings-main-app-keys-button-bg;
  color: @--settings-aside-text;
}

/* Equalizer Adjust Style
-------------------------- */
.equalizer-adjust-page-equalizer-title-text {
  font-size: 14px;
  color: @--settings-aside-text;
}

.equalizer-adjust-aside-text {
  color: @--settings-aside-text;
}

.key-board-item-text {
  color: @--settings-aside-text;
}

/* Keys Modify Dialog Style
-------------------------- */
.key-modify-dialog-header{
  background-color: @--keys-modify-dialog-header-bg;
  color: @--settings-aside-text;
}

.key-modify-dialog-cancel-button{
  background-color: @--keys-modify-dialog-footer-button-bg;
  color: @--keys-modify-dialog-footer-button-color;
}

/* Keys Board Dialog Style
-------------------------- */
.keys-board-key-con {
  background: @--keys-board-bg;
  color: @--keys-board-color;
}

/* Aside Drawer Style
-------------------------- */
.aside-drawer-con {
  background-color: @--aside-drawer-con-bg;
}

.video-player-drawer-header-con {
  border-bottom: 1px solid @--aside-drawer-header-border-bottom;
}

.video-player-drawer-header-tab {
  background-color: @--aside-drawer-header-tab-bg;
  color: white;

  &.active {
    background-color: @--aside-drawer-header-tab-active;
  }
}

.key-modify-dialog-save-notice {
  color: @--keys-board-color;
}

.key-board-item-button-con {
  color: @--settings-aside-text;
}

/* Unopen Style
-------------------------- */
.un-open-content-text {
  color: @--settings-aside-text;
}

/* Select Dropdown Style
-------------------------- */
.select-dropdown-con {
  background-color: @--aside-drawer-header-tab-bg;
}

.select-dropdown-text {
  color: @--settings-aside-text;
}

.select-dropdown-menu-con {
  background-color: @--drop-down-menu-con-item-bg;
  border-color: @--drop-down-menu-con-item-border-color;
  color: @--settings-aside-text;
}

.select-dropdown-menu-item-con:hover {
  background-color: @--drop-down-menu-item-bg;
}

.video-screen-setting-screen-proportion {
  color: @--settings-aside-text;
}


#app,
#container{
  height: 100%;
  width: 100%;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: @--settings-aside-item-bg;
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: @--settings-aside-item-bg;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
