/* Controls Area
-------------------------- */
@--control-area-text: #ffffff;
@--control-area-inner-bg: #2a2929;

/* Progress Style
-------------------------- */
@--video-progress-bar-outer-bg: #515356;
@--video-progress-bar-inner-bg: rgb(64, 158, 255);
@--video-progress-draggable-circle-pointer-bg: #ffffff;
@----video-progress-bar-outer-bg: #ffffff;

/* SelectItem Style
-------------------------- */
@--select-item-con-bg: rgba(0, 0, 0, .5);
@--select-item-con-text: white;

/* Setting Aside Style
-------------------------- */
@--settings-aside-text: #c7c4c4;
@--settings-aside-item-bg: #1f262e;
@--settings-aside-item-active: #1B3957;
@--settings-main-content: #1f262e;


