/* Controls Area
-------------------------- */
@--control-area-text: #ffffff;
@--control-area-inner-bg: #2a2929;

/* Progress Style
-------------------------- */
@--video-progress-bar-outer-bg: #515356;
@--video-progress-bar-inner-bg: rgb(64, 158, 255);
@--video-progress-draggable-circle-pointer-bg: #ffffff;
@----video-progress-bar-outer-bg: #ffffff;

/* SelectItem Style
-------------------------- */
@--select-item-con-bg: rgba(0, 0, 0, .5);
@--select-item-con-text: white;

/* Setting Aside Style
-------------------------- */
@--settings-aside-text: #ced9e2;
@--settings-aside-item-bg: #1f262e;
@--settings-aside-item-active: #1B3957;
@--settings-main-content: #1f262e;
@--settings-main-app-button-bg: #38434e;
@--settings-main-app-logo: #a1c5e4;
@--settings-main-app-version: rgba(255,255,255,0.5);
@--settings-main-app-base-info-color: #ced9e2;
@--settings-main-app-border: #0275d8;
@--settings-main-app-keys-button-bg: #20333e;

/* Keys Modify Dialog Style
-------------------------- */
@--keys-modify-dialog-header-bg: #1D272D;
@--keys-modify-dialog-footer-button-bg: #0260b2;
@--keys-modify-dialog-footer-button-color: #fff;

/* Keys Board Dialog Style
-------------------------- */
@--keys-board-bg: #0260b2;
@--keys-board-color: #fff;


